/* Main */
.portal-quote {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

/* Form */
.portal-quote form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	margin: auto;
}

/* Heading */
.portal-quote form h2 {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	color: white;
	text-align: left;
}

/* Textarea */
.portal-quote form textarea {
	width: 100%;
	border: none;
	border-radius: 2px;
	outline: none;
	padding: 16px 16px;
	font-size: 16px;
	font-family: "Source Sans Pro", sans-serif;
	color: #555c6e;
	font-weight: normal;
	resize: none;
	margin: 10px 0;
}

/* Input */
.portal-quote form input {
	height: 60px;
	width: 100%;
	border: none;
	border-radius: 2px;
	outline: none;
	padding: 16px 16px;
	font-size: 20px;
	font-family: "Source Sans Pro", sans-serif;
	color: #555c6e;
	font-weight: normal;
	transition: all 0.3s;
	margin: 10px 0 20px 0;
}
