/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&family=Ubuntu:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #191c23;
}

/* Global Button Style */
button {
	height: 60px;
	width: 100%;
	border: none;
	border-radius: 2px;
	outline: none;
	font-size: 18px;
	font-weight: normal;
	line-height: 21px;
	letter-spacing: 4px;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	background-color: #fa225a;
	color: white;
	transition: all 0.3s;
}

button:hover {
	background-color: white;
	color: #fa225a;
	cursor: pointer;
}

/* Media Query */
@media only screen and (max-width: 450px) {
	/* Global Button */
	button {
		padding: 5px 10px;
		font-size: 15px !important;
	}
}
