/*
================
Single Article
================
*/

/* Main */
.single-article-page {
	position: relative;
	width: 100%;
	background-color: #20232c;
}

/* Image Container */
.single-article-page-image {
	position: relative;
	max-width: 100%;
	max-height: 80vh;
}

/* Heading */
.single-article-page-image h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	line-height: 72px;
	color: white;
	letter-spacing: 1px;
	z-index: 1;
}

/* Image */
.single-article-page-image img {
	object-fit: cover;
	width: 100%;
	max-height: 80vh;
	opacity: 0.4;
}

/* 
=============
Blog
=============
*/

.article-content {
	position: relative;
	width: 65%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 130px 0 160px 0;
}

/* Container */
.single-article-page-container {
	flex-basis: 57%;
	margin: auto;
	font-family: "Source Sans Pro", sans-serif;
	color: #7a89ab;
}

/* Heading */
.single-article-page-container h3 {
	margin: 20px 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
	color: white;
}

/* Italic */
.single-article-page-container i {
	font-size: 20px;
	line-height: 38px;
}

/* Paragraph */
.single-article-page-container p {
	margin: 15px 0;
	font-size: 16px;
	line-height: 30px;
}

/* Blog Image */
.blog-img {
	margin: 40px 0;
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}

.blog-img img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	transition: all 1s ease-in-out;
}

.blog-img:hover img {
	transform: scale(1.1);
}

/* Span */
.single-article-page-container span {
	width: 87%;
	background-color: #1a1d24;
	border-left: 4px solid white;
	display: block;
	margin: 30px auto;
	padding: 10px;
	line-height: 30px;
}

/* 
==================
Article Contact
==================
*/
.article-contact .contact::before {
	background-color: #ebeced;
	content: "";
	width: 100%;
	height: 140px;
	position: absolute;
	top: -55px;
	left: 0;
	transform: skewY(-3deg);
}

.article-contact .contact {
	padding-top: 86px !important;
}

/* 
===================
Aside
===================
*/

/* Main */
aside {
	flex-basis: 32%;
}

/* Container */
.sidebar {
	border: 1px solid #2e313a;
	background-color: #1a1d24;
	color: #7a89ab;
	padding: 45px 30px;
}

/* Heading */
aside h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	line-height: 30px;
}

/* Recent Projects */
aside .plus-recent {
	margin: 25px 0 50px 0;
	overflow: hidden;
}

aside .plus-heading {
	display: none;
}

/* Border after heading */
.aside-border {
	border-bottom: 1px solid #7a89ab;
	width: 130px;
	margin: 35px 0;
}

/* About Section */
aside p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	line-height: 30px;
}

/* Contact Credentials */
aside .contact-credentials p {
	color: #7a89ab;
}

/* Address */
aside span {
	display: block;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 20px 0;
}

/* Social Links */
aside .social-links {
	text-align: center;
	margin-bottom: 50px;
}

aside .social-links .tooltip {
	display: none;
}
