/* Main Container */
#header-global {
	width: 100%;
	height: 80vh;
	position: relative;
	z-index: -2;
}

/* Header Container */
.header-global-container {
	background-color: #20232c;
	background-image: url("../images/Recent/headerbg.jpg");
	width: 100%;
	height: 80%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Header Content Animation */
.header-global-transition {
	opacity: 0;
	transform: translateY(50px);
	transition: all 1s ease-in-out;
}

.header-global-true {
	opacity: 1;
	transform: translateY(0);
}

/* Background Change if in Portfolio Page */
.inPortfolio {
	background-image: url("../images/Recent/portfoliobg.jpg") !important;
}

/* Title */
.header-global-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 100px;
	color: #fff;
	line-height: 120px;
	padding: 29px 0;
}

/* Quote */
.header-global-quote {
	font-family: "Montserrat", sans-serif;
	color: #7a89ab;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 5px;
}

/* Media Query */
@media only screen and (max-width: 450px) {
	#header-global {
		position: static;
		height: 30vh;
	}
	.header-global-container {
		position: static;
		background-position: 0 0;
		padding: 0 4%;
		height: 100%;
	}
	.header-global-title {
		font-size: 38px;
		line-height: 46px;
		padding: 20px 0;
	}
}
