/* Navbar */

nav {
	display: flex;
	justify-content: space-between;
	padding: 28px 50px 6px 70px;
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	transition: all 0.3s ease-in;
}

.scroll {
	padding-top: 10px;
	background-color: #20232c;
	border-bottom: 1px solid #1d1f27;
}

/* Logo */

.logo-container a img {
	width: 206px;
	height: 56px;
}

/* Icons */
.nav-icons-container {
	margin-right: 20px;
	display: flex;
	align-items: center;
}

/* Add Icon */
.nav-add-icon {
	margin: 0 40px;
	position: relative;
	cursor: pointer;
	padding: 10px;
}

.nav-add-icon:hover .nav-toggle-plus,
.nav-add-icon:hover .nav-toggle-minus {
	border-color: #7a89ab;
}

.nav-toggle-plus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
	height: 15px;
	width: 2px;
	transition: all 0.2s linear;
}

.nav-toggle-minus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
	height: 2px;
	width: 15px;
	transition: all 0.2s linear;
}

/* if plus icon clicked */
.plus-clicked .nav-toggle-plus {
	display: none;
}

.plus-clicked .nav-toggle-minus {
	border-color: #f9225b;
}

/* View Icon */
.nav-toggle-line {
	margin: 6px 0;
	border: 1px solid white;
	height: 2px;
	width: 30px;
}
