/* Navbar */

nav {
	display: flex;
	justify-content: space-between;
	padding: 28px 50px 6px 70px;
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	transition: all 0.3s ease-in;
}

.scroll {
	padding-top: 10px;
	background-color: #20232c;
}

/* Logo */

.logo-container a img {
	width: 206px;
	height: 56px;
}

/* Icons */
.nav-icons-container {
	display: flex;
	align-items: center;
}

.nav-icons-container .MuiSvgIcon-root {
	font-size: 2rem;
}

.nav-add-icon,
.nav-view-icon {
	color: white;
	margin: 0 20px;
	cursor: pointer;
}
