/* Main Container */
.recent {
	text-align: center;
	padding: 67px 0 100px 0;
	background-color: #96c577;
	position: relative;
}

/* Skew Effect */
.recent::before {
	content: "";
	width: 100%;
	height: 140px;
	position: absolute;
	top: -80px;
	left: 0;
	background: #96c577;
	transform: skewY(-3.5deg);
}

/* Headings */
.recent-heading h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: white;
	font-size: 48px;
	line-height: 50px;
}

.recent-heading h3 {
	color: white;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	line-height: 18px;
	letter-spacing: 4px;
	margin: 1.67em 0 2.3em 0;
}
