/* Main Container */
.work {
	padding: 86px 0 260px 0;
	background-color: #191c23;
	position: relative;
}

.work::before {
	content: "";
	width: 100%;
	height: 175px;
	position: absolute;
	top: -100px;
	left: 0;
	background: #191c23;
	transform: skewY(3.5deg);
}

/* Work Section Headings and Description*/
.work-heading {
	text-align: center;
	padding-bottom: 55px;
}

.work-heading h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: white;
	font-size: 48px;
	line-height: 50px;
}

.work-heading h3 {
	color: #667084;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	line-height: 18px;
	letter-spacing: 4px;
	margin: 1.67em 0 2.3em 0;
}

.border {
	width: 130px;
	border-bottom: 1px solid white;
	margin: auto;
}

.work-description {
	text-align: center;
	width: 46%;
	margin: auto;
	color: #7a89ab;
	font-size: 16px;
	line-height: 30px;
	font-family: "Source Sans Pro", sans-serif;
}

/* Progress */

.progress {
	width: 62.3%;
	margin: auto;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.progress-block {
	position: relative;
}

.progress-block i {
	color: #7a89ab;
	font-size: 76px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.circle {
	width: 223px;
}
